$white: rgba(255, 255, 255);
$grey-xlight: rgba(210, 210, 210, 1);
$grey-light: rgba(165, 165, 165, 1);
$grey: rgba(140, 140, 140, 1);
$grey-dark: rgba(90, 90, 90, 1);
$grey-xdark: rgba(45, 45, 45, 1);
$black: rgba(0, 0, 0);

$purple: rgba(109, 74, 218, 1);
$yellow: rgba(255, 214, 122, 1);
$green: rgba(146, 196, 133, 1);
$red: rgba(235, 64, 52, 1);

$background-light: rgba(0, 0, 0, 0.2);
$background-medium: rgba(0, 0, 0, 0.4);
$background-dark: rgba(0, 0, 0, 0.5);
