@use "@styling/colours";
@use "@styling/shadow";
@use "@styling/border";
@use "@styling/padding";

.chat {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        color: colours.$white;
    }

    main {
        display: flex;
        height: 80%;
        border-radius: border.$radius-lg;
        overflow: hidden;

        .conversations,
        .messages {
            display: flex;
            flex-direction: column;
            padding: padding.$lg;
        }

        .conversations {
            width: 30%;
            background-color: colours.$background-medium;
        }

        .messages {
            flex-grow: 1;
            gap: padding.$md;
            background-color: colours.$background-light;
        }
    }
}
