@use "@styling/opacity";
@use "@styling/transition";

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        transition: opacity transition.$duration-short;
    }

    &:hover svg {
        opacity: opacity.$disabled-button-opacity;
    }
}
