@use "@styling/padding";
@use "@styling/colours";
@use "@styling/fonts";
@use "@styling/brightness";
@use "@styling/border";

.messageBox {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: padding.$md;
    border-radius: border.$radius-lg;
    backdrop-filter: brightness.$light;

    textarea {
        margin: 0 padding.$sm;
        padding: 0;
        resize: none;
        color: colours.$white;
        font-size: fonts.$size-sm;
        font-family: inherit;

        &::placeholder {
            color: colours.$grey-light;
        }
    }

    button {
        display: block;
        margin-right: padding.$xs;
        min-height: fonts.$size-lg;
        color: colours.$green;

        svg {
            width: fonts.$size-md;
            height: inherit;
            transition: opacity 0.3s ease;
        }

        &:disabled {
            opacity: 1;
        }

        &:hover svg {
            opacity: 0.8;
        }
    }
}
