@use "@styling/padding";
@use "@styling/colours";
@use "@styling/fonts";
@use "@styling/brightness";
@use "@styling/border";

.messageBox {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: padding.$md;
    border-radius: border.$radius-lg;
    backdrop-filter: brightness.$light;

    textarea {
        margin: 0 padding.$sm;
        padding: 0;
        resize: none;
        color: colours.$white;
        font-size: fonts.$size-sm;

        &::placeholder {
            color: colours.$grey-light;
        }
    }

    button {
        margin-right: padding.$xs;
    }
}
