@use "@styling/fonts";
@use "@styling/colours";
@use "@styling/padding";
@use "@styling/border";
@use "@styling/opacity";
@use "@styling/transition";

.pill {
    display: flex;
    align-items: center;
    padding: padding.$sm padding.$md;
    border-radius: border.$radius-md;
    color: colours.$grey-xxdark;
    background-color: colours.$green;
    transition: opacity transition.$duration-short;

    &.disabled {
        opacity: opacity.$disabled-button-opacity;
    }

    span {
        margin-right: padding.$sm;
        font-size: fonts.$size-sm;
    }

    svg {
        margin-top: 2px;
    }
}
