@use "@styling/padding";

.scrollableParent {
    display: flex;
    flex-direction: column;
}

.scrollableContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;

    &.sm {
        gap: padding.$sm;
    }

    &.md {
        gap: padding.$md;
    }

    &.lg {
        gap: padding.$lg;
    }
}
