@use "@styling/padding";
@use "@styling/colours";
@use "@styling/fonts";
@use "@styling/brightness";
@use "@styling/border";

.searchBox {
    display: flex;
    align-items: center;
    padding: padding.$md;
    border-radius: border.$radius-lg;
    backdrop-filter: brightness.$light;

    input {
        margin: 0 padding.$sm;
        color: colours.$white;
        font-size: fonts.$size-sm;

        &::placeholder {
            color: colours.$grey-xlight;
        }
    }

    button {
        margin-right: 2px;

        &:disabled {
            opacity: 1;
        }
    }
}
