@use "@styling/colours";

.spinner {
    width: 25px;
    height: 25px;
    border-width: 2px;
    border-style: solid;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &.xs {
        width: 16px;
        height: 16px;
    }

    &.sm {
        width: 20px;
        height: 20px;
    }

    &.md {
        width: 25px;
        height: 25px;
    }

    &.lg {
        width: 30px;
        height: 30px;
    }

    &.green {
        border-color: colours.$green;
    }

    &.grey-xdark {
        border-color: colours.$grey-xdark;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinnerContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
