@use "@styling/colours";
@use "@styling/padding";
@use "@styling/fonts";
@use "@styling/transition";

.menu {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: padding.$md;
    gap: padding.$md;

    button {
        font-size: fonts.$size-xs;
        color: colours.$grey-light;
        transition: color transition.$duration-short ease;

        &:hover {
            color: colours.$white;
        }

        &.selected {
            color: colours.$green;
        }

        .indicator {
            width: 4px;
            height: 4px;
            margin: 4px auto 0 auto;
            border-radius: 50%;
            background-color: colours.$green;
        }
    }
}
