@use "@styling/colours";

.highlighted {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    background-color: transparent;
    text-decoration: underline solid colours.$yellow;
    text-underline-offset: 2px;
}
