@use "@styling/padding";
@use "@styling/colours";
@use "@styling/fonts";
@use "@styling/opacity";
@use "@styling/transition";

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        transition: opacity transition.$duration-short;
    }

    &:hover svg {
        opacity: opacity.$disabled-button-opacity;
    }

    // Sizes

    &.sm {
        font-size: fonts.$size-sm;
    }

    &.md {
        font-size: fonts.$size-md;
    }

    &.lg {
        font-size: fonts.$size-lg;
    }

    // Colours

    &.green {
        color: colours.$green;
    }

    &.white {
        color: colours.$white;
    }

    &.grey {
        color: colours.$grey;
    }

    &.grey-dark {
        color: colours.$grey-dark;
    }

    &.grey-xdark {
        color: colours.$grey-xdark;
    }
}
