@use "@styling/border";
@use "@styling/padding";
@use "@styling/brightness";

.multiSelect {
    display: flex;
    flex-wrap: wrap;
    padding: padding.$md;
    gap: padding.$md;
    border-radius: border.$radius-sm;
    backdrop-filter: brightness.$light;
}
