@use "@styling/fonts";
@use "@styling/colours";
@use "@styling/padding";
@use "@styling/border";

.pill {
    display: flex;
    padding: padding.$sm padding.$sm padding.$sm padding.$md;
    border-radius: border.$radius-md;
    font-size: fonts.$size-sm;
    color: colours.$grey-xxdark;
    background-color: colours.$green;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        margin-left: padding.$xs;
        border-radius: 50%;
    }
}
