@use "@styling/fonts";
@use "@styling/colours";
@use "@styling/padding";
@use "@styling/border";

.pill {
    display: flex;
    align-items: center;
    padding: padding.$sm padding.$sm padding.$sm padding.$md;
    border-radius: border.$radius-md;
    color: colours.$grey-xxdark;
    background-color: colours.$green;

    span {
        font-size: fonts.$size-sm;
        margin-right: padding.$sm;
    }

    div,
    button {
        width: fonts.$size-lg;
        height: fonts.$size-lg;

        svg {
            margin-top: 2px;
        }
    }
}
