@use "@styling/fonts";
@use "@styling/colours";
@use "@styling/padding";
@use "@styling/border";
@use "@styling/opacity";
@use "@styling/transition";

.pill {
    display: flex;
    padding: padding.$sm padding.$sm padding.$sm padding.$md;
    border-radius: border.$radius-md;
    color: colours.$grey-xxdark;
    background-color: colours.$green;
    transition: opacity transition.$duration-short;

    &.disabled {
        opacity: opacity.$disabled-button-opacity;
    }

    span {
        font-size: fonts.$size-sm;
        margin-right: padding.$sm;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fonts.$size-lg;
        height: fonts.$size-lg;

        svg {
            margin-top: 2px;
        }
    }
}
