@use "@styling/colours";
@use "@styling/transition";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Segoe UI";
    padding: 30px;
    box-sizing: border-box;
    background: {
        image: url("./assets/background-image.jpg");
        position: center;
        repeat: no-repeat;
        size: cover;
    }
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 10px;
    background-color: colours.$grey-dark;
    background-clip: padding-box;
    transition: all transition.$duration-short ease;

    &:hover {
        background-color: colours.$grey;
    }
}
